.btn-login{
    margin-top: 8px;
    padding: 8px 20px;
    background-color: #35577A;
    text-align: center;
    color: #ededed;
    width: 80px;
    border-radius: 2px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-login:hover{
    color: #fff;
    background-color: #366594;
}