*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans',sans-serif;
    background-color: #222;
}

body.darkmode{
    background-color: #FEFEFE;
}

header{
    height: 56px;
    background-color: #35577A;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header a.a-login{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding: 0 15px;
    line-height: 56px;
}

header.dekstop{
    display: flex;
}

header.mobile{
    display: none;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{
    display: inline-block;
    margin-right: 22px;
}

nav ul li.aktif a i{
    color: #F8AC00;
}

nav ul li:first-child{
    font-size: 22px;
    margin-right: 28px;
    color: #fff;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li a.nav-title{
    font-weight: 500;
}

nav ul li a:hover i, nav ul li a.nav-title:hover, header a.a-login:hover, header .nav-right i:hover{
    color: #F8AC00;
}

nav.mobile{
    display: none;
}

i.menu{
    margin-right: 10px;
}

header .nav-right{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 22px;
}

img.logo{
    height: 38px;
}

.wrapper{
    padding: 56px 78px;
    display: flex;
    flex-direction: column;
}

.title{
    color: #fff;
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.wrapper.darkmode .title{
    color: #222;
}

.title.title-diagnosa{
    justify-content: space-between;
}

.title img.logo{
    height: 56px;
    margin-right: 15px;
}

.title i{
    margin-right: 15px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 35px;
    border: 1px solid #464B4D;
    color: #ededed;
}

.wrapper.darkmode .content{
    border-color: #d2d2d2;
    color: #222;
}

.content-header{
    /* height: 34px; */
    padding: 9px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #35577A;
    font-size: 14px; 
    color: #ededed;
}

.content-header .right i{
    cursor: pointer;
}

.content-box{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.content-box.prag{
    padding: 15px 20px;
    line-height: 1.7em;
}

.content-box p{
    line-height: 1.7em;
    font-weight: 400;
    font-size:16px;
}

.content-box img.img-cover{
    width: 300px;
    margin-right: 35px;
}

.content-box a.btn-konsul{
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    color: #0bb60b;
    padding: 8px 14px;
    border: 2px solid#0bb60b;
    border-radius: 3px;
    font-size: 14px;
}

.wrapper.darkmode .content-box a.btn-konsul{
    border-color: #10a210;
    color: #10a210;
}

.content-box a.btn-konsul:hover{
    color:#0de60d;
    border-color:#0de60d;
}

.wrapper.darkmode .content-box a.btn-konsul:hover{
    color:#0f7b0f;
    border-color:#0f7b0f;
}

.content-box a.btn-konsul:hover > .circle{
    background-color: #0de60d;
}

.wrapper.darkmode .content-box a.btn-konsul:hover > .circle{
    background-color: #0fa20f;
}

.content-box a.btn-konsul .circle{
    color: #313131;
    padding: 0px 5px;
    border-radius: 66%;
    background-color: #0bb60b;
    margin-right: 2px;
    font-size: 12px;
    font-weight: 800;
}

.wrapper.darkmode .content-box a.btn-konsul .circle{
    color: #fefefe;
}

.input-title{
    color:#ededed;
    font-size: 12px;
    margin-bottom: 7px;
}

.wrapper.darkmode .input-title{
    color: #222;
}

footer{
    height: 40px;
    background-color: #2d4864;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 3px solid #be8709;
    display: flex;
    color: #f0f0f0;
    font-size: 12px;
    padding:0 30px;
}

footer.prag{
    position: relative;
}

.scroll-top{
    position: fixed;
    bottom: 0;
    right: 20px;
    height: 50px;
    width: 30px;
    background-color: #4a7eb3;
    z-index: 9999;
}

.cover{
    display: flex;
    margin-bottom:30px;
}

.cover img{
    width: 100%;
    height: 66vh;
    border-radius: 3px;
}

/* ERROR 404 */
.kode-error{
    color: #fff;
    font-weight: 600;
    font-size: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.wrapper.darkmode .kode-error{
    color: #222;
}

.judul-error{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.wrapper.darkmode .judul-error{
    color: #222;
}

.back-home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.btn-home{
    background-color: rgb(226, 81, 55);
}

.btn.btn-home:hover{
    background-color: rgb(245, 68, 37);
}
