*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans',sans-serif;
    background-color: #fff;
}

body.darkmode{
    background-color: #FEFEFE;
}

header.header{
    height: 56px;
    background-color: #35577A;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header a{
    font-size: 17px;
}

.header i.title{
    font-size: 22px;
}